body{
	width: 100%;
	height: 100%;
	background: url("../images/bg.png") repeat;
}
::-webkit-input-placeholder{
    color: #333;
}
.a-main, .a-init, .a-init-link{
	display: none;
}
.a-init{
	padding: 30px;
  	margin-top: 25%;
}
.a-mask{
	position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    margin: 0 -15px;
}
.a-uuid-container{
	width: 400px;
    height: 50px;
    z-index: 2;
    margin: 0 auto;
    margin-top: 400px;
    position: relative;
}
.a-guide-logo{
	width: 150px;
    height: 150px;
    border-radius: 90px;
    position: absolute;
    margin-top: -200px;
    margin-left: 80px;
    border: 4px solid white;
    box-shadow: 0px 0px 30px paleturquoise;
}
.a-user-icon{
	width: 50px;
	font-size: 20px;
}
.a-button{
	width: 70px;
    font-size: 18px;
    cursor: pointer;
}
.a-button:hover{
	background: #555;
	color: whitesmoke;
	border: none;
}
.a-user-idbox{
	height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.a-guide{
	display: none;
}
.action{
	color: #CC0033;
}
.btn:hover{
	background-color: #5cb85c;
}
.a-list{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.a-container{
	padding: 50px;
}
.a-tap{
	display: inline-block;
	width: 300px;
	height: 160px;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px 3px;
	box-shadow: 1px 1px 15px #ACA8CC;
	border: none;
}
.a-tap:hover .a-tap-header{
	opacity: 1;
}
.a-tap-header{
	opacity: 0;
	margin: 0;
	margin-top: -5px;
}
.a-tap-header:after{
	clear: both;
	content: '';
	height: 0;
	display: block;
}
.a-tap-header span{
	float: right;
	margin-left: 10px;
}
.a-tap .a-tap-time{
	font-style: italic;
	position: absolute;
    bottom: 2px;
    right: 20px;
    margin: 0;
    font-size: 12px;
}
.a-tap .a-tap-passed{
	font-style: italic;
	position: absolute;
    bottom: 2px;
    left: 20px;
    margin: 0;
    font-size: 14px;
}
.a-tap-title{
	word-break: break-all;
}
.a-tap-content{
	display: inline-flex;
	word-break: break-all;
}
.a-tap-new{
    padding: 5px 17px;
    font-size: 24px;
    margin: 0;
    border: none;
    border-bottom: 2px solid #0099FF;
    width: 100%;
    background: transparent;
}
.a-tap-new:focus{
	border: none;
}
.a-slider-container{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 180px;
	height: 85%;
	padding: 0;
	font-size: 12px;
	overflow: auto;
}
.a-finished-tap-header{
	font-size: 26px;
    padding-left: 138px;
}
.a-finished-tap-header:hover{
	color: #5bc0de;
}
.a-finished-list{
	
}
.a-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}
.a-settings{
    float: right;
}
.a-userinfo{
	display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    color: #333;
}
.a-settings span{
	font-size: 20px;
    display: block;
    float: left;
    margin: 0 8px;
}
.a-doneList:hover, .a-setting:hover, .a-observer:hover, .a-sync:hover, .a-clean:hover{
	color: #CC0033;
}
.a-alert{
	display: none;
    position: fixed;
    top: 5px;
    left: 0;
    min-width: 280px;
    text-align: center;
    padding: 10px;
    z-index: 3;
    border-radius: 0px 50px 20px 0;
}
.a-observer-color-picker span{
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.a-observer-time{
	width: 40%;
    border: 2px solid wheat;
}
.a-setting-timer{
	width: 100%;
    border: 2px solid wheat;
    margin-bottom: 2px;
}
.a-observer-set{
    width: 90%;
    border: 2px solid wheat;
    border-radius: 5px;
}
.a-setting-set{
	width: 100%;
    border: 2px solid wheat;
    border-radius: 5px;
}